<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h1> Features</h1>
            <p>This site is intended as a personal programming playground for a variety of cool programming patterns. There will be multiple broken links and this site has no actual intended functionality beyond playing arround with patterns.</p>

        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h4>New Features 28/04/18</h4>
            <ul>
                <li>Implements decorator pattern</li>
            </ul>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h4>New Features 22/04/18</h4>
            <ul>
                <li>Implements <a href="https://plnkr.co/edit/vBfWSBZERdMN0IlcZ5I2?p=info">observer pattern</a> in multiple places</li>
            </ul>
        </div>
    </div>
</div>

<news-item header="test even more" bodyitems="mainCtrl.listOfThings"></news-item>

<div class="row">
    <div class="col-md-12">
        <table class="pull-right">
            <tr>
                <th class="main-table-td-left">Backlog</th>
                <th class="main-table-td-right">Done</th>
            </tr>
            <tr>
                <td class="main-table-td-left">
                    <ul>
                        <li ng-repeat="item in mainCtrl.toDo track by $index"><i ng-class="{'glyphicon glyphicon-unchecked': item}"></i>{{item}}</li>
                    </ul>

                </td>
                <td class="main-table-td-right">
                    <ul>
                        <li ng-repeat="item in mainCtrl.done track by $index"><i ng-class="{'glyphicon glyphicon-check': item}"></i>{{item}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
